<tr>

    {# <td class="text-nowrap">
    #}{# Пользовательское меню #}{#
    {% if app.user.profile == item.users_profile_id %}
    #}{# Пользовательское меню #}{#
    {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
{% else %}
    &nbsp;
{% endif %}
</td> #}

    <td colspan="3"></td>
    <td class="text-center"><strong class="text-primary">{{ material_exist }}</strong></td>
    <td></td>

    <td class="text-center">
        <strong class="{{ material_reserve ? 'text-danger' }}">{{ material_reserve ?: '-' }}</strong>
    </td>
    <td class="text-center text-success fw-bolder">

        {% if material_exist >= material_reserve %}
            {{ (material_exist - material_reserve) ?: '-' }}
        {% else %}
            0 <span
                class="pointer badge text-bg-danger text-white"
                role="tooltip"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-delay='{"show":600,"hide":100}'
                title='Ожидается поступление'
        > + {{ material_exist - material_reserve }}
                            </span>
        {% endif %}

    </td>
</tr>